html, body {
    height: 100%;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

#pusher, #footer {
    height: 60px;
}

.container-fluid{
    margin: 0 auto;
    max-width: 720px;
}

#content {
    margin: 40px 0;
}

#header {
    margin: 30px 0;
}

#status {
    margin: 20px 0;
}

.section {
    margin: 10px 0;
}

iframe {
    margin: 20px 0;
    /* background-color: transparent; */
    border: 1px solid #DEDEDE;
    width: 100%;
    overflow: hidden;

    min-height: 520px;
    height: auto !important;
}


/* small tweaks */

#header a {
    color: #999;
}

/*
#content {
    text-align: justify;
}
*/

/*
img {
    display: block;
    margin: auto;
}
*/

blockquote p {
    font-size: 17px;
    margin: 0.75em 0;
}

pre code {
    background: transparent;
    font-size: 14px;
}

h2 {
    font-size: 34px;
}
